.category-container {
    padding: 0 60px;
    max-width: 1200px;
    margin: 50px auto 0 auto;
}

.category-line {
    display: flex;
    justify-content: space-around;
}

.category-item {
    height: 200px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: 200ms;
}

.category-item:hover {
    box-shadow: 0 0 13px 0px #b7b7b7;
    transform: scale(1.05)
}

.bubbleezz {
    background: url("../img/Categories/bubbleezz.jpg") no-repeat
}

.fluffables {
    background: url("../img/Categories/fluffubles.jpg") no-repeat
}

.fuzzeez {
    background: url("../img/Categories/fuzzeez.jpg") no-repeat
}

.glitter-petz {
    background: url("../img/Categories/glitter-petz.jpg") no-repeat
 }
 .molecules{
    background: url("../img/Categories/molecules.jpg") no-repeat
 }
.plush-craft{
    background: url("../img/Categories/plush-craft.jpg") no-repeat
}
 .squishies{
    background: url("../img/Categories/squishes.jpg") no-repeat
 }
 .sticky-mosaics{
    background: url("../img/Categories/mosaics.jpg") no-repeat
 }
.stick-n-style{
    background: url("../img/Categories/stick-n-style.jpg") no-repeat
}
.mocheez{
    background: url("../img/Categories/stick-n-style.jpg") no-repeat
}
.odditeez{
    background: url("../img/Categories/stick-n-style.jpg") no-repeat
}
.slimi-cafe{
    background: url("../img/Categories/slimi-cafe.jpg") no-repeat
}
