.footer{
    background: #F8DADA;
    padding: 50px  40px 20px;
    width: 100% !important;
    flex: 0 0 auto;
   
}
.footer-nav{
    text-align: right;
}
.footer a{
    text-decoration: none;
    color: #252525;
    padding-left: 55px;
    font-weight: 600;
    font-size: 16px;
}
.foo-rights{
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    font-size: 16px;
}
.foo-contacts{
    margin: 0 auto;
    color: #252525;
}