.close-btn {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    z-index: 2;
}

.close-btn:before, .close-btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    border: 1px solid black;
}

.close-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    min-height: 200px;
    max-height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
  }
  
  .modalHeader,
  .modalBody,
  .modalFooter {
    padding: 10px 20px;
  }
  
  .modalHeader {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
  }
  
  .modalTitle {
    font-weight: bold;
  }
  
  .modalFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .modalFooter button:last-child {
    margin-left: 10px;
  }

  .option-enter {
    opacity: 0;
  }
  .option-enter.option-enter-active {
    opacity: 1;
    transition: opacity 2s ease-in;
  }
  .option-exit {
    opacity: 1;
  }
  .option-exit.option-active {
    opacity: 0;
    transition: opacity 0.1s ease-in;
  }
  .modal-error-header{
    background-color: rgb(231, 87, 87);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .modal-success-header{
    background-color: rgb(78, 197, 137);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .modal-circle{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 100%;
    border: 5px solid #fff;
    margin: 0 auto;
  }
  .alert-close-btn {
    position: absolute;
    cursor: pointer;
    right: 35px;
    top: 35px;
    width: 20px;
    height: 20px;
}

.alert-close-btn:before, .alert-close-btn:after {
    content: "";
    position: absolute;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    border: 2px solid white;
}

.alert-close-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.alert-close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close-btn-white {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
}

.close-btn-white:before, .close-btn-white:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 14px;
  border: 1px solid white;
}

.close-btn-white:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn-white:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-checkmark{
  display:inline-block;
}
.modal-checkmark:after{
  content: '';
  display: block;
  top: 18px;
  left: 35px;
  position: absolute;
  width: 15px;
  height: 38px;
  border: solid white;
  border-width: 0 6px 6px 0;
  transform: rotate(45deg);
}