.products-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.product-item{
    border: 1px solid #b3b3b3;
    padding: 25px;
    max-width: 250px;
    min-width: 175px;
    width: 100%;
}
.product-item_img{
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}
.product-item_name {
    color: black;
    font: 
}