<<<<<<< HEAD
.products-container {
=======
.products-container{
>>>>>>> 20b33a6b66e9667d80687ce54199f26e9aba1ee8
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
<<<<<<< HEAD

.product-item {
=======
.product-item{
>>>>>>> 20b33a6b66e9667d80687ce54199f26e9aba1ee8
    border: 1px solid #b3b3b3;
    padding: 25px;
    max-width: 250px;
    min-width: 175px;
    width: 100%;
    position: relative;
}
<<<<<<< HEAD

.product-item_img {
=======
.product-item_img{
>>>>>>> 20b33a6b66e9667d80687ce54199f26e9aba1ee8
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}
<<<<<<< HEAD

.product-item_name {
=======
.product-item_name{
>>>>>>> 20b33a6b66e9667d80687ce54199f26e9aba1ee8
    font: 600 18px "muller";
    color: black;
    text-decoration: none;
}
<<<<<<< HEAD

.product-item_description {
=======
.product-item_description{
>>>>>>> 20b33a6b66e9667d80687ce54199f26e9aba1ee8
    color: #acacac;
    font: 400 13px "muller";
    margin: 8px auto;
}
<<<<<<< HEAD

.product-item_age {
=======
.product-item_age{
>>>>>>> 20b33a6b66e9667d80687ce54199f26e9aba1ee8
    width: 25px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
<<<<<<< HEAD
    font-size: 40px;
=======
    font-size: 18px;
>>>>>>> 20b33a6b66e9667d80687ce54199f26e9aba1ee8
    position: absolute;
    top: 20px;
    right: 20px;
}
<<<<<<< HEAD

.product-item_age__yellow {
    background: green;
=======
.product-item_age__yellow{
    background: #fff852;
>>>>>>> 20b33a6b66e9667d80687ce54199f26e9aba1ee8
}