.side-bar{
    width: 200px;
    height: 100vh;
    padding-top: 30px;
    background: white;
    color: grey;
    position: fixed;
    top: 0;
  }

  .side-bar li{
    list-style: none;
  }
  .side-bar button{
    width: 100%;
    height: 55px;
    border: none;
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    padding-left: 21px;
    background: white;
      
  }
  .side-bar button:hover{
      background: whitesmoke
    }
    .side-bar button:focus{
      background: whitesmoke
  }
