#map {
    width: 80%;
    height: 560px;
    margin: 0 auto;
}

.where-to-buy_container {
    max-width: 960px;
    min-width: 500px;
    min-height: 500px;
    max-height: 800px;
    /* height: 1000px; */
    /* width: 1000px; */
    position: relative;
    margin: 50px auto;
    background: url("../img/map.svg") no-repeat;
    background-size: contain;
    background-position: center;
}



.where-to-buy_button:hover {
    /* box-shadow: 0 0 13px 0px #b7b7b7; */
    background-size: 105%;
    background-position: center;
    transition: background-size 0.2s;
}

.where-to-buy_button__left {
    background: transparent url('../img/shop_here.png') no-repeat;
    border: none;
    position: absolute;
    top: 40%;
    margin-top: -58px;
    left: 30%;
    z-index: 1000;
    width: 200px;
    height: 130px
}

.where-to-buy_button__right {
    background: transparent url('../img/shop_e.png') no-repeat;
    border: none;
    position: absolute;
    top: 40%;
    margin-top: -58px;
    right: 30%;
    z-index: 1000;
    width: 200px;
    height: 130px
}
.where-to-buy_button {
    background-size: 90%;
    background-position: center;

}