
@font-face {
    font-family: 'muller';
    src: url('../src/fonts/MullerBold.eot');
    src: url('../src/fonts/MullerBold.eot?#iefix')format('embedded-opentype'),
         url('../src/fonts/MullerBold.woff') format('woff'),
         url('../src/fonts/MullerBold.ttf') format('truetype'),
         url('../src/fonts/MullerBold.svg#muller') format('svg');
    font-weight: 700;
    font-style: normal;
  }

  
@font-face {
    font-family: 'muller';
    src: url('../src/fonts/MullerRegular.eot');
    src: url('../src/fonts/MullerRegular.eot?#iefix')format('embedded-opentype'),
         url('../src/fonts/MullerRegular.woff') format('woff'),
         url('../src/fonts/MullerRegular.ttf') format('truetype'),
         url('../src/fonts/MullerRegular.svg#muller') format('svg');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'muller';
    src: url('../src/fonts/MullerMedium.eot');
    src: url('../src/fonts/MullerMedium.eot?#iefix')format('embedded-opentype'),
         url('../src/fonts/MullerMedium.woff') format('woff'),
         url('../src/fonts/MullerMedium.ttf') format('truetype'),
         url('../src/fonts/MullerMedium.svg#muller') format('svg');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'muller';
    src: url('../src/fonts/MullerLight.eot');
    src: url('../src/fonts/MullerLight.eot?#iefix')format('embedded-opentype'),
         url('../src/fonts/MullerLight.woff') format('woff'),
         url('../src/fonts/MullerLight.ttf') format('truetype'),
         url('../src/fonts/MullerLight.svg#muller') format('svg');
    font-weight: 300;
    font-style: normal;
  }